In [79]:
import numpy as np
import pandas as pd
from glob import glob
import matplotlib.pyplot as plt

import seaborn as sns
sns.set()

In [39]:
# get paths to all scoring .csv files
scoring_file_paths = glob('./results/scoring_*.csv')
print(scoring_file_paths)

['./results\\scoring_Marc.csv', './results\\scoring_simon.csv']

In [40]:
# load all .csv scoring files into a single DataFrame
scoring_files = []
for file_path in scoring_file_paths:
    scoring_files.append(pd.read_csv(file_path))
df_scores = pd.concat(scoring_files, axis=0, ignore_index=True)

In [37]:
# Create a new DataFrame of mean and std of scores
mean_scores = df_scores.apply(lambda col: [col.mean(), col.std()])
mean_scores.index = ['mean', 'std']
mean_scores.head()

,recon_mean_5,mean_1,mean_4,recon_mean_3,mean_2,recon_mean_6,mean_5,cidx_5,cidx_1,mean_3,...,mean_6,recon_mean_0,cidx_2,recon_mean_1,cidx_6,mean_0,cidx_4,cidx_3,recon_mean_4,recon_mean_2
mean,1.250000,4.050000,1.400000,2.500000,3.250000,1.0,1.150000,1.100000,3.700000,2.500000,...,1.100000,4.500000,3.050000,3.750000,1.050000,4.35000,1.550000,2.25000,1.650000,3.0
std,0.444262,0.510418,0.502625,0.688247,0.638666,0.0,0.366348,0.307794,0.470162,0.512989,...,0.447214,0.512989,0.394034,0.786398,0.223607,0.48936,0.604805,0.55012,0.587143,0.0